## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
#Mi respuesta
sample_list_1= random.sample(range(0, 100), 80)
print(sample_list_1)

[15, 22, 39, 3, 19, 70, 58, 86, 27, 66, 35, 25, 60, 88, 41, 74, 82, 78, 80, 31, 83, 34, 67, 51, 96, 89, 73, 10, 14, 91, 61, 57, 6, 40, 99, 1, 45, 50, 97, 12, 37, 24, 5, 21, 7, 18, 54, 65, 63, 59, 4, 94, 53, 11, 30, 64, 93, 87, 9, 98, 62, 85, 33, 69, 76, 36, 92, 44, 81, 16, 23, 48, 84, 26, 46, 68, 47, 90, 32, 55]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [22]:
#Respuesta
set1= set(sample_list_1)
print (set1)
print(len(set1)) #the length is 80

#DUDA: ¿Por qué los ordena si realmente se indica que son datos desordenados?

{1, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 18, 19, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 76, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
#Respuesta
sample_list_2= random.sample(range(0, 100), 80)
print(sample_list_2)

[16, 3, 14, 69, 20, 78, 19, 90, 28, 46, 96, 6, 17, 33, 71, 30, 64, 79, 51, 4, 34, 87, 82, 10, 83, 57, 26, 61, 67, 41, 23, 47, 45, 99, 29, 8, 94, 5, 55, 53, 92, 39, 43, 52, 85, 40, 22, 37, 97, 0, 77, 88, 2, 93, 27, 63, 32, 95, 54, 1, 68, 49, 65, 73, 76, 98, 60, 21, 24, 75, 91, 7, 42, 12, 35, 9, 15, 80, 25, 36]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
#Mi respuesta
set2= set(sample_list_2)
print (set2)
print(len(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 49, 51, 52, 53, 54, 55, 57, 60, 61, 63, 64, 65, 67, 68, 69, 71, 73, 75, 76, 77, 78, 79, 80, 82, 83, 85, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [66]:
#Respuesta
set3= set()
for numero1 in set1:
    if numero1 not in set2:
        set3.add(numero1)
    else:
        continue
print(set3)

{66, 70, 74, 11, 44, 48, 81, 18, 50, 84, 86, 89, 58, 59, 62, 31}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [67]:
#Mi respuesta
set4= set()
for numero2 in set2:
    if numero2 not in set1:
        set4.add(numero2)
    else:
        continue
print(set4)

{0, 2, 71, 8, 42, 43, 75, 77, 79, 17, 49, 20, 52, 28, 29, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [78]:
#Mi respuesta
set5= set()
for numero1 in set1:
    if numero1 in set2:
        set5.add(numero1)
    else:
        continue
print(set5)
type (set5)

{1, 3, 4, 5, 6, 7, 9, 10, 12, 14, 15, 16, 19, 21, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 45, 46, 47, 51, 53, 54, 55, 57, 60, 61, 63, 64, 65, 67, 68, 69, 73, 76, 78, 80, 82, 83, 85, 87, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99}

set

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [163]:
#No entendía muy bien el enunciado de este ejercicio.
#lo he dejado para el final y creo que la longitud del set1 se ha modificado al realiar ejercicios posteriores.
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

len(set3) == len(set4)+len(set5)

62
80
80
16
64

True

#### Create an empty set called `set6`.

In [114]:
#Respuesta
set6= set('')
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [83]:
#Respuesta
print(set5)
type(set5)

{1, 3, 4, 5, 6, 7, 9, 10, 12, 14, 15, 16, 19, 21, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 45, 46, 47, 51, 53, 54, 55, 57, 60, 61, 63, 64, 65, 67, 68, 69, 73, 76, 78, 80, 82, 83, 85, 87, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99}

set

In [84]:
print(set3)
type(set3)

{66, 70, 74, 11, 44, 48, 81, 18, 50, 84, 86, 89, 58, 59, 62, 31}

set

In [119]:
set6.update(set3,set5)
print(set6)

{1, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 18, 19, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 76, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [127]:
#Mi respuesta
if set1 == set6:
   print(True)
else:
   print(False)

True

In [126]:
#Compronbando
print(set1)
print(set6)

{1, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 18, 19, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 76, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}
{1, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 18, 19, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 76, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [130]:
#set2 en set1
comprobacion= set2.issubset(set1)
print(comprobacion)

False

In [131]:
#set3 en set1
comprobacion2= set3.issubset(set1)
print(comprobacion2)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [133]:
 resultado = set3.union(set4,set5)
print (resultado)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [135]:
 resultado2 = resultado.union(set1,set2)
print(resultado2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [138]:
#Chequear si los elementos son iguales.
if resultado == resultado2:
    print (True)
else:
    print(False)

True

#### Using the `pop` method, remove the first element from `set1`.

In [144]:
#Para poder hacerlo he tenido que pasarlo a lista.Revisando documentación si el tipo de dato, es set,
#no puedo indicar una posición, dá error.
set1 = list(set1)
type(set1)
eliminado = set1.pop(0)

set1 = set(set1)
print (eliminado)
print(set1)
type(set1)

4
{5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 18, 19, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 44, 45, 46, 47, 48, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 76, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

set

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [157]:
#He impreso además la longitud para verificar si había borrado algo.
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print ("set1 sin modificaciones:", set1)
print(len(set1))

set1.difference_update(list_to_remove)
print("set1 con modificaciones:",set1)
len(set1)

set1 sin modificaciones: {5, 6, 7, 10, 12, 14, 15, 16, 18, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 40, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98}
62
set1 con modificaciones: {5, 6, 7, 10, 12, 14, 15, 16, 18, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 40, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98}

62

In [158]:
#Aquí he querido ver si coincidían los datos, lo he hecho antes del paso anterior, solo que lo he peusto después aquí.
list_to_remove = set(list_to_remove)
if list_to_remove in set1:
    print (True)
else:
    print(False)

False