## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [7]:
#Respuesta
tup = ('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [8]:
#Respuesta
print(tup)
type(tup)

('I',)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [14]:
#It is not possible to append this elements because tuples are immutable data structures and can not be 
#modificated once created.
# If we try to add a new value, would be an error. Look at the example.
# We could add a new value if first converts tuple to list, use the method .extend 
#and after reconvert this listo to tuple again.

tup[0] = "r"

TypeError: 'tuple' object does not support item assignment

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [87]:
#Respuesta.
tup =('I','r','o','n','h','a','c','k',)
print(tup)
type(tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

tuple

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [88]:
#Respuesta
print (tup)
tup1 = tup[0:4]
print(tup1)
tup2 = tup[-4:]
print (tup2)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [89]:
#Respuesta
tup3 = tup1 + tup2
print(tup3)
type(tup3)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

tuple

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [90]:
#Mi respuesta
tup1longitud = (len(tup1))
tup2longitud = (len(tup2))
tup3longitud = (len(tup3))

if tup1longitud + tup1longitud == tup3longitud:
    print (True)
    print ('La suma de la longitud de tup1 y tup2 es igual a la longitud de tup3')
else:
    print (False)
    print ('La suma de la longitud de tup1 y tup2 no es igual a la longitud que tup3')

True
La suma de la longitud de tup1 y tup2 es igual a la longitud de tup3

#### What is the index number of `"h"` in `tup3`?

In [123]:
#Respuesta
print(tup3)
tup3.index("h")

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [158]:
# Your code here
letters = ['a', 'b', 'c', 'd', 'e']

tup3str = str(tup3)
print(tup3str)
type (tup3str)

for cualquier in (letters):
    if cualquier in tup3str:
        print (True)
    else:
        print (False)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
True
False
True
False
False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [187]:
#He realizado el ejercicio de dos maneras, dejo la oción A en esta celda y la opción B enla siguiente.
# Opción ANo sé si había otra opción de haerlo sin importar libreria
from collections import Counter
veces = Counter(tup3str)
print('el caracter <a> aparece el siguiente nº de veces:', (veces['a']))
print('el caracter <b> aparece el siguiente nº de veces:', (veces['b']))
print('el caracter <c> aparece el siguiente nº de veces:', (veces['c']))
print('el caracter <d> aparece el siguiente nº de veces:', (veces['d']))

el caracter <a> aparece el siguiente nº de veces: 1
el caracter <b> aparece el siguiente nº de veces: 0
el caracter <c> aparece el siguiente nº de veces: 1
el caracter <d> aparece el siguiente nº de veces: 0

In [193]:
#Opción b
print('el caracter <a> aparece el siguiente nº de veces:',tup3str.count('a'))
print('el caracter <b> aparece el siguiente nº de veces:',tup3str.count('b'))
print('el caracter <c> aparece el siguiente nº de veces:',tup3str.count('c'))
print('el caracter <d> aparece el siguiente nº de veces:',tup3str.count('d'))


#DUDA: ¿no hay opción de chequear el nº de repeticiones utilizando directamente la variable yel valor de la posición? 
#Intento probar lo siguiente pero me da error 
#print('el caracter <d> aparece el siguiente nº de veces:',tup3str.count(letters ['d']))

el caracter <a> aparece el siguiente nº de veces: 1
el caracter <b> aparece el siguiente nº de veces: 0
el caracter <c> aparece el siguiente nº de veces: 1
el caracter <d> aparece el siguiente nº de veces: 0