# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset from Ironhack's database
pokemon_csv = pd.read_csv('../../dataframe-calculations/Pokemon.csv')
pokemon_csv

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
pokemon_csv.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [4]:
#Mi hipótesis es que total se calcula con la suma de las columnas indicadas.
#El resultado coincide con la tabla anterior
pokemon_csv['Total'] = pokemon_csv[['HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def', 'Speed',]].sum(axis=1)
pokemon_csv['Total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

In [5]:
pokemon_csv['Total'].unique()
#Creo que la fórmula sí que vale para todos los pokemos porque hacer una impresión de valroes únicos no hay nulos.

array([318, 405, 525, 625, 309, 534, 634, 314, 530, 630, 195, 205, 395,
       495, 251, 349, 479, 579, 253, 413, 262, 442, 288, 438, 320, 485,
       300, 450, 275, 365, 505, 273, 323, 483, 299, 270, 435, 245, 455,
       490, 285, 305, 265, 290, 440, 500, 350, 555, 385, 510, 310, 400,
       590, 390, 335, 515, 410, 315, 325, 465, 352, 460, 475, 600, 328,
       330, 480, 520, 425, 340, 345, 295, 200, 540, 640, 535, 355, 615,
       580, 420, 680, 780, 215, 415, 250, 218, 210, 470, 280, 610, 360,
       180, 430, 336, 380, 700, 635, 220, 240, 198, 278, 518, 618, 269,
       414, 670, 266, 456, 236, 237, 474, 190, 375, 260, 575, 302, 467,
       560, 458, 468, 308, 565, 770, 194, 384, 263, 363, 523, 224, 424,
       244, 482, 348, 498, 452, 329, 411, 454, 334, 494, 594, 545, 720,
       528, 418, 255, 370, 281, 446, 316, 292, 487, 264, 358, 488, 497,
       313, 508, 445, 294, 509, 351, 519, 461, 303, 401, 567, 473, 428,
       464, 319, 472, 489, 471, 484, 550, 660, 307, 409, 423, 382, 499,
       213, 369, 507, 371, 552, 531, 466, 448, 341, 462, 306, 289, 481,
       362, 521, 431, 304, 514])

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [6]:
#He creado un nuevo DataFrame cogiendo únicamente las columnas que necesito.
new_df_pokemon= pd.DataFrame(pokemon_csv, columns=['Total','Type 1', 'Type 2'])
new_df_pokemon

     Total   Type 1  Type 2
0      318    Grass  Poison
1      405    Grass  Poison
2      525    Grass  Poison
3      625    Grass  Poison
4      309     Fire     NaN
..     ...      ...     ...
795    600     Rock   Fairy
796    700     Rock   Fairy
797    600  Psychic   Ghost
798    680  Psychic    Dark
799    600     Fire   Water

[800 rows x 3 columns]

In [7]:
#LO HABÍA HECHO ASÍ, PERO ESTABA MAL, LO AÑADÍA A TODO LO ANTERIOR.
#pokemon_types_df = pd.get_dummies(pokemon_csv, columns=['Type 1', 'Type 2'])
#RESULTADO BUENO. He caído en que tenía que crear un nuevo DataFrame y partir de este.
pokemon_types_df2 = pd.get_dummies(new_df_pokemon, columns=['Type 1', 'Type 2'])
pokemon_types_df2

,Total,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,318,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,405,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,525,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,625,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,309,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,600,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,700,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,600,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
798,680,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
799,600,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [9]:
#Con esto calculo la correlación incluida la columna total.
corr_df2 = pokemon_types_df2.corr()
corr_df2.head(10)

,Total,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
Total,1.000000,-0.143957,0.017818,0.196532,0.016715,-0.026948,-0.029086,0.050527,0.029504,0.007594,...,-0.004885,-0.039224,0.016486,0.100870,-0.013956,-0.067837,0.076054,-0.000512,0.070307,-0.018800
Type 1_Bug,-0.143957,1.000000,-0.061686,-0.062713,-0.074119,-0.045270,-0.057419,-0.081006,-0.021779,-0.062713,...,-0.007046,0.098365,-0.022177,-0.041003,-0.021779,0.200143,-0.063727,0.060868,0.138928,-0.007046
Type 1_Dark,0.017818,-0.061686,1.000000,-0.040984,-0.048438,-0.029584,-0.037524,-0.052938,-0.014233,-0.040984,...,0.071991,-0.036061,-0.042946,0.071991,-0.014233,-0.042300,0.023490,-0.026796,0.045446,-0.026796
Type 1_Dragon,0.196532,-0.062713,-0.040984,1.000000,-0.049245,-0.030077,-0.038149,-0.053820,-0.014470,-0.041667,...,-0.027243,-0.036662,0.112272,0.118700,-0.014470,-0.043005,0.085964,-0.027243,-0.034325,-0.027243
Type 1_Electric,0.016715,-0.074119,-0.048438,-0.049245,1.000000,-0.035547,-0.045088,-0.063609,-0.017102,-0.049245,...,0.009617,-0.011817,-0.051602,0.009617,0.138368,-0.050827,-0.050041,-0.032197,0.060014,0.009617
Type 1_Fairy,-0.026948,-0.045270,-0.029584,-0.030077,-0.035547,1.000000,-0.027538,-0.038850,-0.010445,-0.030077,...,-0.019665,-0.026464,-0.031517,-0.019665,-0.010445,-0.031043,-0.030563,-0.019665,-0.024778,-0.019665
Type 1_Fighting,-0.029086,-0.057419,-0.037524,-0.038149,-0.045088,-0.027538,1.000000,-0.049277,-0.013248,-0.038149,...,-0.024943,-0.033567,-0.039976,-0.024943,-0.013248,-0.039375,0.065654,-0.024943,0.053226,-0.024943
Type 1_Fire,0.050527,-0.081006,-0.052938,-0.053820,-0.063609,-0.038850,-0.049277,1.000000,-0.018691,-0.053820,...,-0.035189,-0.047355,0.017973,-0.035189,0.125084,-0.055549,-0.003697,0.003480,-0.013332,0.003480
Type 1_Flying,0.029504,-0.021779,-0.014233,-0.014470,-0.017102,-0.010445,-0.013248,-0.018691,1.000000,-0.014470,...,-0.009461,-0.012732,-0.015163,-0.009461,-0.005025,-0.014935,-0.014704,-0.009461,-0.011921,-0.009461
Type 1_Ghost,0.007594,-0.062713,-0.040984,-0.041667,-0.049245,-0.030077,-0.038149,-0.053820,-0.014470,1.000000,...,-0.027243,0.329956,-0.043661,-0.027243,-0.014470,0.083480,-0.042340,-0.027243,-0.034325,-0.027243

In [17]:
corr_df2.sort_values(by= ['Total'],ascending=True, axis=0 ).tail(5)
#Ordeno por el eje 0, que es el que tiene el parámentro por defecto.

,Total,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
Type 2_Ice,0.100870,-0.041003,0.071991,0.118700,0.009617,-0.019665,-0.024943,-0.035189,-0.009461,-0.027243,...,-0.017812,-0.023970,-0.028547,1.000000,-0.009461,-0.028118,-0.027683,-0.017812,-0.022443,-0.017812
Type 2_Dragon,0.115240,-0.046612,0.100556,-0.030969,0.000370,-0.022355,-0.028355,-0.005812,0.228243,0.055056,...,-0.020248,-0.027249,-0.032452,-0.020248,-0.010755,-0.031964,-0.031470,-0.020248,-0.025513,-0.020248
Type 2_Fighting,0.138726,-0.006089,0.036251,-0.037412,-0.044216,-0.027006,-0.034254,0.151836,-0.012992,-0.037412,...,-0.024461,-0.032918,-0.039203,-0.024461,-0.012992,-0.038614,-0.038017,-0.024461,-0.030820,-0.024461
Type 1_Dragon,0.196532,-0.062713,-0.040984,1.000000,-0.049245,-0.030077,-0.038149,-0.053820,-0.014470,-0.041667,...,-0.027243,-0.036662,0.112272,0.118700,-0.014470,-0.043005,0.085964,-0.027243,-0.034325,-0.027243
Total,1.000000,-0.143957,0.017818,0.196532,0.016715,-0.026948,-0.029086,0.050527,0.029504,0.007594,...,-0.004885,-0.039224,0.016486,0.100870,-0.013956,-0.067837,0.076054,-0.000512,0.070307,-0.018800

In [18]:
corr_df2.sort_values(by= ['Total'],ascending=True, axis=1 ).tail(5)
#Si lo ordeno teniendo en cuenta el eje 1 en lugar del 0, que es el parámetro por defecto, me sale diferente. 
#Para mi tendría sentido que el mejor pokemon sería el que combinara las posiciones [0,0] porque la correlación es mayor y están ordenados.
#Aunque supongo que mi deducción no tiene mucho fundamento.

,Type 1_Bug,Type 1_Normal,Type 2_Poison,Type 1_Poison,Type 2_Grass,Type 1_Grass,Type 1_Fighting,Type 1_Fairy,Type 2_Fairy,Type 2_Bug,...,Type 2_Steel,Type 2_Fire,Type 2_Psychic,Type 1_Steel,Type 1_Psychic,Type 2_Ice,Type 2_Dragon,Type 2_Fighting,Type 1_Dragon,Total
Type 2_Poison,0.200143,-0.078717,1.000000,-0.040123,-0.037839,0.263700,-0.039375,-0.031043,-0.036248,-0.012926,...,-0.035428,-0.025999,-0.043700,-0.039375,-0.058354,-0.028118,-0.031964,-0.038614,-0.043005,-0.067837
Type 2_Psychic,-0.063727,-0.039158,-0.043700,-0.039503,-0.037254,-0.019742,0.065654,-0.030563,-0.035687,-0.012726,...,-0.034880,-0.025597,1.000000,0.204881,-0.057452,-0.027683,-0.031470,-0.038017,0.085964,0.076054
Type 2_Rock,0.060868,-0.049865,-0.028118,-0.025417,-0.023970,-0.041328,-0.024943,-0.019665,-0.022962,-0.008188,...,-0.022443,-0.016469,-0.027683,0.133424,-0.036965,-0.017812,-0.020248,-0.024461,-0.027243,-0.000512
Type 2_Steel,0.138928,-0.062830,-0.035428,-0.032025,-0.030202,0.002029,0.053226,-0.024778,-0.028932,-0.010317,...,1.000000,-0.020751,-0.034880,-0.031428,-0.046576,-0.022443,-0.025513,-0.030820,-0.034325,0.070307
Type 2_Water,-0.007046,-0.020789,-0.028118,0.026454,-0.023970,-0.041328,-0.024943,-0.019665,-0.022962,-0.008188,...,-0.022443,-0.016469,-0.027683,-0.024943,-0.036965,-0.017812,-0.020248,-0.024461,-0.027243,-0.018800

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [135]:
#Esto de aquí abajo eran algunas ideas que se me venían, pero no he llegado.
#Idea 1: Hacer un max y luego las parejas.corr_df2['Type 1'].max()
#Idea 2: Hacer un for que itere por los valores del eje 1, si el index 1,1 == 1. Lo guarda en una lista.
#Idea 3: 
corr_df2.loc["Type 1_Bug", "Type 1_Bug"]

1.0

In [142]:
#Idea 4
corr_df2.iloc[0,0]

1.0

In [147]:
if corr_df2.iloc[0,0] == 0:
    guarda_value= corr_df2[0,0]
    print(corr_df2.iloc[0,0])
    print(guarda_value)

In [131]:
for x, y in corr_df2:
    unos= []
    if x,y == 1:
        unos= x,y

SyntaxError: invalid syntax (3896022840.py, line 3)